@import url("partials/00-base-home.css");
@import url("partials/01-services.css");
@import url("partials/02-projects.css");
@import url("partials/03-about.css");
@import url("partials/04-contact.css");
@import url("partials/10-responsive-1440.css");
@import url("partials/11-responsive-960.css");
@import url("partials/12-responsive-576.css");
